<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
  <div class="card shadow-lg p-4 bg-white rounded col-12 col-md-6">
    
    <div class="text-center mb-4">
      <h3 class="mt-2">Create Account</h3>
      <p class="text-muted">Join EstateVision today</p>
    </div>

    <div id="registerMessage" class="alert" style="display: none;"></div>
    
    <form id="registerForm">
      <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" id="registerName" required placeholder="John Doe">
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" id="registerPhone" placeholder="+387 61 ...">
          </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" id="registerEmail" required placeholder="name@example.com">
      </div>
      
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="registerPassword" required minlength="4">
      </div>

      <div class="mb-4">
          <label class="form-label fw-bold">I want to join as:</label>
          <select class="form-select bg-light" id="registerRole">
              <option value="buyer">Property Buyer / Renter</option>
              <option value="agent">Real Estate Agent</option>
          </select>
      </div>
      
      <button class="btn btn-success w-100 py-2 fw-bold shadow-sm" type="submit" id="registerBtn">REGISTER</button>
      
      <div class="text-center mt-3">
         <p class="small text-muted">Already have an account? <a href="#login" class="fw-bold text-decoration-none">Login here</a></p>
      </div>
    </form>
    
  </div>
</div>
